.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 250ms ease-out 250ms;
}

.hidden {
  display: none;
}

.contact-link-white-theme:hover,
.contact-link-white-theme:focus, .contact-link-white-theme:hover .icon-phone,
.contact-link-white-theme:focus .icon-phone, .contact-link-white-theme:hover .icon-mail,
.contact-link-white-theme:focus .icon-mail {
  color: #2196f3;
  fill: #2196f3;
}

.social-team, .team-social-link, .gallery-img {
  display: flex;
  justify-content: center;
}

.social-team {
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: background-color 250ms linear, transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-team:hover,
.social-team:focus {
  background-color: #2196f3;
}

.social-list:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  width: 44px;
  height: 44px;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.icon-cocial {
  height: 20px;
  width: 20px;
  fill: #afb1b8;
  transition: fill 250ms linear, transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-team:hover .icon-cocial,
.social-team:focus .icon-cocial {
  fill: #ffffff;
}

.team-social-link {
  padding-bottom: 24px;
}

h1,
h2,
h3,
p,
ul,
::after {
  margin: 0px;
  padding: 0px;
}

.body {
  font-family: "Roboto", serif;
  font-style: normal;
}

.body.modal-open {
  overflow: hidden;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.title {
  color: #212121;
  font-family: "Roboto", serif;
  font-style: normal;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 50px;
  }
}

.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .header {
    padding: 16px 0;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (min-width: 768px) {
  .container-header {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .container-header {
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .nav-container {
    display: flex;
    align-items: center;
  }
}

.logo-link {
  font-family: "Raleway", sans-serif;
  color: #2196f3;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .logo-link {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo-font-white-theme {
  color: #212121;
}

.logo-wraper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.menu:hover .icon-close,
.menu:hover .icon-menu .menu:focus .icon-close,
.menu:focus .icon-menu {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .menu {
    display: none;
  }
}

.menu .icon-close {
  display: none;
}

.menu.is-open .icon-close {
  display: block;
}

.menu.is-open .icon-menu {
  display: none;
}

.navigation-menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .navigation-menu {
    padding-bottom: 60px;
    position: absolute;
    background-color: #ffffff;
    content: "";
    text-align: center;
    display: none;
    width: 100%;
    top: 100%;
    left: 0;
  }
  .navigation-menu.is-open {
    display: block;
    z-index: 10;
  }
}

@media screen and (min-width: 768px) {
  .navigation-menu {
    display: flex;
    align-items: center;
  }
}

.navigation {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .navigation {
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation {
    margin-left: 109px;
  }
}

.nav-list :hover,
.nav-list :focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .nav-list:not(:first-child) {
    margin-top: 40px;
  }
}

@media screen and (min-width: 768px) {
  .nav-list {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .nav-list:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 768px) {
  .nav-list {
    position: relative;
  }
}

.navigation .link.current {
  color: #2196f3;
}

.nav-link {
  font-family: "Roboto", serif;
  color: #212121;
  font-style: normal;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.166;
  transition: color 250ms linear, transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .nav-link {
    font-size: 14px;
    line-height: 1.142;
  }
}

@media screen and (min-width: 480px) {
  .current {
    position: relative;
  }
}

.current::after {
  position: absolute;
  content: "";
  margin-top: 8px;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

@media screen and (min-width: 768px) {
  .current::after {
    bottom: 0;
  }
}

.address {
  display: flex;
  flex-direction: column;
  font-style: normal;
  margin-left: auto;
}

.address :not(:last-child) {
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .address {
    padding-bottom: 0;
    margin-left: 84px;
  }
  .address :not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .address {
    display: inline-block;
    margin-left: 289px;
  }
}

.icon-mail {
  height: 12px;
  width: 16px;
  margin-right: 10px;
  fill: #757575;
  transition: color 250ms linear, transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-phone {
  margin-right: 10px;
  height: 16px;
  width: 10px;
  fill: #757575;
  transition: color 250ms linear, transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link-white-theme {
  color: #757575;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  transition: color 250ms linear, transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .contact-link-white-theme {
    font-size: 12px;
    line-height: 1.143;
  }
}

@media screen and (min-width: 1200px) {
  .contact-link-white-theme {
    font-size: 14px;
  }
  .contact-link-white-theme:not(:last-child) {
    margin-right: 30px;
  }
}

.filter {
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filter {
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    padding-bottom: 50px;
  }
}

.button-list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .button-list {
    justify-content: center;
  }
}

.nav-button:not(:last-child) {
  margin-right: 8px;
}

.nav-button:not(:last-child) :nth-child(-n + 3) {
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .nav-button:not(:last-child) :nth-child(-n + 3) {
    margin-bottom: 0;
  }
}

.btn {
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  display: inline-block;
  font-family: "Roboto", serif;
  color: "Roboto", serif;
  background-color: #f5f4fa;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  transition: background-color 250ms linear, transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms linear, transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.gallery-list {
  padding-bottom: 60px;
  margin: -15px;
}

@media screen and (min-width: 768px) {
  .gallery-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.gallery-img {
  position: relative;
  overflow: hidden;
  align-items: center;
}

.gallery-img::before {
  display: inline-block;
  position: absolute;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(33, 150, 243, 0.9);
}

.img-text {
  position: absolute;
  display: inline-block;
  transform: translateY(150%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 322px;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5555;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.gallery:hover .gallery-img::before,
.gallery:focus .gallery-img::before {
  transform: translateY(0);
}

.gallery:hover .img-text,
.gallery:focus .img-text {
  transform: translateY(0);
}

.gallery {
  overflow: hidden;
  background: #ffffff;
  width: 450px;
  border: 1px solid #eeeeee;
  margin: 15px;
}

.gallery:hover, .gallery:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) {
  .gallery {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery {
    width: 370px;
  }
}

.gallery-progect {
  color: #212121;
  font-family: "Roboto", serif;
  font-style: normal;
  padding-left: 24px;
  padding-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.progect-style {
  color: #757575;
  font-family: "Roboto", serif;
  padding-bottom: 20px;
  padding-left: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
}

.footer {
  background-color: #2f303a;
  flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .contact-social-wraper {
    display: flex;
    justify-content: center;
  }
}

.logo-footer {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .logo-footer {
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .logo-footer {
    margin-right: 70px;
    text-align: start;
  }
}

.footer-address {
  margin-top: 20px;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-address {
    margin-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-address {
    margin-bottom: 0;
  }
}

.logo-font-dark-theme {
  color: #ffffff;
}

.address-list :not(:last-child) {
  margin-bottom: 9px;
}

.address-link-black-theme {
  color: #ffffff;
  font-family: "Roboto", serif;
  margin-bottom: 9px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.contact-link-black-theme {
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.enjoy {
  text-align: center;
}

.enjoy-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.enjoy-text {
  font-family: "Roboto", serif;
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.enjoy-social {
  padding-bottom: 60px;
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .enjoy {
    margin-right: 93px;
    text-align: start;
  }
}

.enjoy-list:not(:last-child) {
  margin-right: 10px;
}

.dark-link {
  fill: #ffffff;
}

@media screen and (max-width: 1199px) {
  .footer-form {
    text-align: center;
  }
}

.sign {
  margin-bottom: 20px;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.form-sign {
  display: block;
  text-align: -webkit-center;
}

@media screen and (min-width: 1200px) {
  .form-sign {
    display: flex;
  }
}

.input-sign {
  position: relative;
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
  padding-left: 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .input-sign {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .input-sign {
    width: 358px;
    margin-right: 12px;
  }
}

.input-sign:focus {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}

.btn-sign {
  display: flex;
  align-items: center;
  color: #ffffff;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  background-color: #2196f3;
  font-family: "Roboto", serif;
  font-size: 16px;
  line-height: 1.875;
  font-weight: 700;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.text-btn {
  padding-left: 29px;
  margin-right: 10px;
}

.btn-svg-icon {
  fill: #ffffff;
}
/*# sourceMappingURL=portfolio.css.map */