$main-font: "Roboto", serif;
$secondary-font: "Raleway", sans-serif;
$main-font-color: #212121;
$secondary-font-color: #757575;
$font-on-dakr-theme: #ffffff;
$link-color: #2196f3;
$title-light-theme-color: #f5f4fa;
$title-dark-theme-color: #2f303a;
